extends ../layouts/default

block content
	// container
	.content
		#tmg-slideshow.tmg-slideshow
			.container
				#thm_slider_wrapper.thm_slider_wrapper.fullwidthbanner-container
					#thm-rev-slider.rev_slider.fullwidthabanner
						ul
							if expands && expands.length > 0
								for one in expands
									li(data-transition='random', data-slotamount='7', data-masterspeed='1000', data-thumb='')
										if one.image
											img(src='#{one.image.url}', data-bgposition='left top', data-bgfit='cover', data-bgrepeat='no-repeat', alt='')
										else
											img(src='images/slide-img2.jpg', data-bgposition='left top', data-bgfit='cover', data-bgrepeat='no-repeat', alt='#{one.name}')
										if one.statement
											.info
												.tp-caption.LargeTitle.sfl.tp-resizeme(data-x='0', data-y='180', data-endspeed='500', data-speed='500', data-start='1300', data-easing='Linear.easeNone', data-splitin='none', data-splitout='none', data-elementdelay='0.1', data-endelementdelay='0.1', style='z-index:3;max-width:auto;max-height:auto;white-space:nowrap;')
													span #{one.statement}
												if one.miniStatement
													.tp-caption.Title.sft.tp-resizeme(data-x='0', data-y='270', data-endspeed='500', data-speed='500', data-start='1500', data-easing='Power2.easeInOut', data-splitin='none', data-splitout='none', data-elementdelay='0.1', data-endelementdelay='0.1', style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;')
														| #{one.miniStatement}
							else
								li(data-transition='random', data-slotamount='7', data-masterspeed='1000', data-thumb='images/slide-img1.jpg')
									img(src='images/slide-img2.jpg', data-bgposition='left top', data-bgfit='cover', data-bgrepeat='no-repeat', alt='slider-image1')
									.info
										.tp-caption.LargeTitle.sfl.tp-resizeme(data-x='0', data-y='180', data-endspeed='500', data-speed='500', data-start='1300', data-easing='Linear.easeNone', data-splitin='none', data-splitout='none', data-elementdelay='0.1', data-endelementdelay='0.1', style='z-index:3;max-width:auto;max-height:auto;white-space:nowrap;')
											span Awesome Design
										.tp-caption.sfb.tp-resizeme(data-x='0', data-y='400', data-endspeed='500', data-speed='500', data-start='1500', data-easing='Linear.easeNone', data-splitin='none', data-splitout='none', data-elementdelay='0.1', data-endelementdelay='0.1', style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;')
											a.buy-btn(href='/') Shop Now
										.tp-caption.Title.sft.tp-resizeme(data-x='0', data-y='270', data-endspeed='500', data-speed='500', data-start='1500', data-easing='Power2.easeInOut', data-splitin='none', data-splitout='none', data-elementdelay='0.1', data-endelementdelay='0.1', style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;')
											| Pellentesque habitant morbi tristique
											br
											| senectus et netus et malesuada
								li(data-transition='random', data-slotamount='7', data-masterspeed='1000', data-thumb='images/slide-img2.jpg')
									img(src='images/slide-img1.jpg', data-bgposition='left top', data-bgfit='cover', data-bgrepeat='no-repeat', alt='slider-image2')
									.info
										.tp-caption.LargeTitle.sfl.tp-resizeme(data-x='0', data-y='180', data-endspeed='500', data-speed='500', data-start='1300', data-easing='Linear.easeNone', data-splitin='none', data-splitout='none', data-elementdelay='0.1', data-endelementdelay='0.1', style='z-index:3;max-width:auto;max-height:auto;white-space:nowrap;')
											span Nexus Hot Collection
										.tp-caption.sfb.tp-resizeme(data-x='0', data-y='400', data-endspeed='500', data-speed='500', data-start='1500', data-easing='Linear.easeNone', data-splitin='none', data-splitout='none', data-elementdelay='0.1', data-endelementdelay='0.1', style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;')
											a.buy-btn(href='/') Shop Now
										.tp-caption.Title.sft.tp-resizeme(data-x='0', data-y='270', data-endspeed='500', data-speed='500', data-start='1500', data-easing='Power2.easeInOut', data-splitin='none', data-splitout='none', data-elementdelay='0.1', data-endelementdelay='0.1', style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;')
											| Pellentesque habitant morbi tristique
											br
											| senectus et netus et malesuada



		// top products end
		// best Pro Slider
		section.wow.bounceInUp.animated
			.best-pro.slider-items-products.container
				.new_title
					h2 畅销产品
				#best-seller.product-flexslider.hidden-buttons
					.slider-items.slider-width-col4.products-grid
						if hot_products
							each one in hot_products
								.item
									.item-inner
										.item-img
											.item-img-info
												if one.images && one.images.length >0
													a.product-image(href='/productdetail/#{one._id}', title='#{one.name}')
														img(src='#{one.images[0].url}', alt='#{one.name}')
												else
													a.product-image(href='/productdetail/#{one._id}', title='#{one.name}')
														img(src='images/member1.png', alt='#{one.name}')
												.item-box-hover
													.box-inner
														.product-detail-bnt
															a.button.detail-bnt
																span Quick View
														.actions
															span.add-to-links
																a.link-wishlist(href='#', title='Add to Wishlist')
																	span Add to Wishlist
																a.link-compare.add_to_compare(href='#', title='Add to Compare')
																	span Add to Compare
														.add_cart
															button.button.btn-cart(type='button')
																span Add to Cart
										.item-info
											.info-inner
												.item-title
													a(href='/productdetail/'+'#{one.id}', title='#{one.name}') #{one.name}
												.item-content
													.rating
														.ratings
															.rating-box
																.rating(style='width:80%')
															p.rating-links
																a(href='/') 1 Review(s)
																span.separator |
																a(href='/') Add Review
													.item-price
														.price-box
															span.regular-price
																span.price #{one.price}
						else
							span 商店里没有商品

block js
	//- script(type='text/javascript').
	//- 	var dthen1 = new Date("12/25/17 11:59:00 PM");
	//- 	start = "05/03/15 03:02:11 AM";
	//- 	start_date = Date.parse(start);
	//- 	var dnow1 = new Date(start_date);
	//- 	if (CountStepper > 0)
	//- 	ddiff = new Date((dnow1) - (dthen1));
	//- 	else
	//- 	ddiff = new Date((dthen1) - (dnow1));
	//- 	gsecs1 = Math.floor(ddiff.valueOf() / 1000);
	//- 	var iid1 = "countbox_1";
	//- 	CountBack_slider(gsecs1, "countbox_1", 1);
	//- 	var dthen1 = new Date("12/12/17 11:59:00 PM");
	//- 	start = "01/20/16 03:02:11 AM";
	//- 	start_date = Date.parse(start);
	//- 	var dnow1 = new Date(start_date);
	//- 	if (CountStepper > 0)
	//- 	ddiff = new Date((dnow1) - (dthen1));
	//- 	else
	//- 	ddiff = new Date((dthen1) - (dnow1));
	//- 	gsecs1 = Math.floor(ddiff.valueOf() / 1000);
	//- 	var iid1 = "countbox_2";
	//- 	CountBack_slider(gsecs1, "countbox_2", 1);