extends ../layouts/default

block content
	.page-heading
		.breadcrumbs
			.container
				.row
					div
						ul
							li.home
								a(href='/', title='回主页') 主页
								span ›
							if category_name
								li.category1599
									span #{category_name}
									span ›
							//- if sec_category
							//- 	li.category1600
							//- 		a(href='/productlist/#{sec_category._id}', title='') #{sec_category.name}
							//- 		span ›
							//- li.category1601
							//- 	strong 商品列表
					.page-title
						h2 商品列表
		section.main-container.col2-left-layout.bounceInUp.animated
				.container
					.row
						.col-main.product-grid
							.pro-coloumn
								article.col-main
									.toolbar
										.pager
											#sort-by
												label.left Sort By:
												ul
													li
														a(href='#')
															| Position
															span.right-arrow
														ul
															li
																a(href='#') Name
															li
																a(href='#') Price
															li
																a(href='#') Position
											.pages
												ul.pagination
													li
														if product_result.previous
															a(href='/productlist?p=#{product_result.previous}') «
														else
															a(href='#' onclick='alert("这已经是第一页了！");') «
														- for (var i = 0; i < product_result.totalPages; i++) {
															- if(product_result.currentPage === (i+1)) {
																li.active
																	a(href='#') #{i+1}
															- }
															- else{
																li
																	a(href='/productlist?p=#{i+1}') #{i+1}
															- }
														- }
													li
														if product_result.next
															a(href='/productlist?p=#{product_result.next}') »
														else
															a(href='#' onclick='alert("这已经是最后一页了！");') »
									.category-products
										ul.products-grid
											if product_result.results
												each one in product_result.results
													li.item.col-lg-3.col-md-3.col-sm-3.col-xs-6
														.item-inner
															.item-img
																.item-img-info
																	a.product-image(href='/productdetail/#{one._id}', title='#{one.name}')
																		if one.image
																			img(src='#{one.image.url}', alt='#{one.name}')
																		else
																			img(src='/products-images/p11.jpg', alt='#{one.name}')
																	.item-box-hover
																		.box-inner
																			.product-detail-bnt
																				a.button.detail-bnt(href='/productdetail/#{one._id}')
																					span 查看
																			.add_cart
																				button.button.btn-cart(type='button',onclick='addToCart(this)', data-id = "#{one._id}", data-qty = 1)
																					span 加入购物车
															.item-info
																.info-inner
																	.item-title
																		a(href='/productdetail/#{one._id}', title='#{one.name}') #{one.name}
																	.item-content
																		.rating
																			.ratings
																				.rating-box
																					.rating(style='width:80%')
																				p.rating-links
																					a(href='/productdetail/#{one._id}') 1 Review(s)
																					span.separator |
																					a(href='#') Add Review
																		.item-price
																			.price-box
																				span.regular-price
																					span.price #{one.price}
											else
												span 没有商品。。

									.toolbar
										.pager
											.pages
												ul.pagination
													li
														if product_result.previous
															a(href='/productlist?p=#{product_result.previous}') «
														else
															a(href='#' onclick='alert("这已经是第一页了！");') «
														- for (var i = 0; i < product_result.totalPages; i++) {
															- if(product_result.currentPage === (i+1)) {
																li.active
																	a(href='#') #{i+1}
															- }
															- else{
																li
																	a(href='/productlist?p=#{i+1}') #{i+1}
															- }
														- }
													li
														if product_result.next
															a(href='/productlist?p=#{product_result.next}') »
														else
															a(href='#' onclick='alert("这已经是最后一页了！");') »

