      header
        #header
          .header-container.container
            .row
              .logo
                a(href='#', title='主页')
                  div
                    img(src='../../../public/images/logo.jpg', alt='')
              .fl-nav-menu
                nav
                  .mm-toggle-wrap
                    .mm-toggle
                      i.icon-align-justify
                      span.mm-label 菜单
                  .nav-inner
                    // BEGIN NAV
                    ul#nav.hidden-xs
                      li.mega-menu
                        a.level-top(href='/electronics')
                          span 电子
                        .level0-wrapper.dropdown-6col
                          .container
                            .level0-wrapper2
                              .col-1
                                .nav-block.nav-block-center
                                  ul.level0
                                    li.level1.nav-6-1.parent.item
                                      ul.level1
                                        each one in sec_categories_electronics
                                          li.level2.nav-6-1-1
                                            a(href= #{one.path})
                                              span #{one.name}
                      li.mega-menu
                        a.level-top(href='/books')
                          span 图书
                        .level0-wrapper.dropdown-6col
                          .container
                            .level0-wrapper2
                              .nav-block.nav-block-center
                                ul.level0
                                  li.level1.nav-6-1.parent.item
                                    ul.level1
                                      li.level2.nav-6-1-1
                                        each one in sec_categories_books
                                          li.level2.nav-6-1-1
                                            a(href= #{one.path})
                                              span #{one.name}
                      li.mega-menu
                        a.level-top(href='/food')
                          span 食品
                        .level0-wrapper.dropdown-6col
                          .container
                            .level0-wrapper2
                              .nav-block.nav-block-center
                                ul.level0
                                  li.level1.nav-6-1.parent.item
                                    ul.level1
                                      li.level2.nav-6-1-1
                                        each one in sec_categories_food
                                          li.level2.nav-6-1-1
                                            a(href= #{one.path})
                                              span #{one.name}
                      li.mega-menu
                        a.level-top(href='/food')
                          span 食品
                        .level0-wrapper.dropdown-6col
                          .container
                            .level0-wrapper2
                              .nav-block.nav-block-center
                                ul.level0
                                  li.level1.nav-6-1.parent.item
                                    ul.level1
                                      li.level2.nav-6-1-1
                                        each one in sec_categories_food
                                          li.level2.nav-6-1-1
                                            a(href= #{one.path})
                                              span #{one.name}
              // row
            .fl-header-right
              .fl-links
                .no-js
                  .fl-nav-links
                    ul.links
                      li
                        a(href='/personal_index', title='个人主页') 个人主页
                      if user
                        li.last
                          a(href='/logout', title='退出登录')
                            span 退出登录
                      else
                        li.last
                          a(href='/login', title='登录')
                            span 登录

              .fl-cart-contain
                .mini-cart
                  .basket
                    a(href='/shopping-cart')  
                  .fl-mini-cart-content
                    .block-subtitle
                      .top-subtotal
                        span.price #{shopping_cart_price}
                      // top-subtotal
                      // pull-right
                    // block-subtitle
                    ul#cart-sidebar.mini-products-list
                      li.item.first
                        .item-inner
                          a.product-image(title='timi & leslie Sophia Diaper Bag, Lemon Yellow/Shadow White', href='#l')
                            img(alt='timi & leslie Sophia Diaper Bag, Lemon Yellow/Shadow White', src='products-images/p4.jpg')
                          .product-details
                            .access
                              a.btn-remove1(title='Remove This Item', href='#') Remove
                              a.btn-edit(title='Edit item', href='#')
                                i.icon-pencil
                                span.hidden Edit item
                            // access
                            strong 1
                            |  x 
                            span.price $179.99
                            p.product-name
                              a(href='product-detail.html') Retis lapen casen
                      li.item.last
                        .item-inner
                          a.product-image(title='JP Lizzy Satchel Designer Diaper Bag - Slate Citron', href='#')
                            img(alt='JP Lizzy Satchel Designer Diaper Bag - Slate Citron', src='products-images/p3.jpg')
                          .product-details
                            .access
                              a.btn-remove1(title='Remove This Item', href='#') Remove
                              a.btn-edit(title='Edit item', href='#')
                                i.icon-pencil
                                span.hidden Edit item
                            // access
                            strong 1
                            |  x 
                            span.price $80
                            p.product-name
                              a(href='product-detail.html') Retis lapen casen
                    .actions
                      button.btn-checkout(title='结算', type='button', onclick='window.location=checkout.html')
                        span 结算
                      button.view-cart(title='Checkout', type='button', onclick='window.location=checkout.html')
                        span 进入购物车
                    // actions
                  // fl-mini-cart-content
              // mini-cart
              .collapse.navbar-collapse
                form.navbar-form(role='search')
                  .input-group
                    input#desktopSearchInput.GlobalNavSearch.js-globalSearchInput(placeholder='Search', data-reactid='.1.0.0.0')
                    label.GlobalNavSearch-searchIcon(for='desktopSearchInput', data-reactid='.1.0.0.1')
              // links