extends ../layouts/default

block content
	.page-heading
		.container
			.row
				.col-xs-12
					.page-title
						h2 #{title}
	.main-container.container-fluid(style='visibility: visible;')
		.row
			.col-sm-4.col-md-4.tabbable.tabs-left
				ul.nav.nav-pills.nav-stacked(style = 'width:30%', 'align-text:right')
					li.horizen
						a(href="#tab1", data-toggle="pill") 查看用户信息
					li.horizen
						a(href="#tab2", data-toggle="tab") 修改用户信息
					li.horizen
						a(href="#tab3", data-toggle="tab") 订单
			.col-sm-7.col-md-7
				.tab-content
					.tab-pane.active.fade#tab1
						table.table.table-striped.table-bordered.table-responsive.table-condensed
							thead
								tr
									th name
									th email
							tbody
								tr
									td #{userinfo.name}
									td #{userinfo.email}
					.tab-pane.fade#tab2
						form(method='POST',action='/')
							.form-group
								label.control-label(for = 'name') name
								input#username.form-control(name='user[name]', type = 'text',value='#{userinfo.name}',required)
							.form-group
								lable(for= 'email') email
								input#useremail.form-control(readonly="readonly",name='user[email]', type = 'email',value='#{userinfo.email}')
							.form-group
								lable(for='address') address
								input#useraddress.form-control(name='user[address]', type = 'text',value='#{userinfo.address}')
							.form-group
								lable(for='phone') phone
								input#userphone.form-control(name='user[phone]', type = 'text',value='#{userinfo.phone}')
							.modal-footer
								button.btn(style="float:left",type='button',onclick='submitChangeUserInfo()') 提交修改
					.tab-pane.fade#tab3
						.toolbar
							.pager
								.pages
									ul.pagination#paginatebtn
										li
											if presult.previous
												a(href='javascript:void(0)', onclick='getOrderPage(#{presult.previous})') «
											else
												a(href='javascript:void(0)' onclick='layer.msg("这已经是第一页了！");') «
											- for (var i = 0; i < presult.totalPages; i++) {
												- if(presult.currentPage === (i+1)) {
													li.active
														a(href='javascript:void(0)') #{i+1}
												- }
												- else{
													li
														a(href='javascript:void(0)', onclick='getOrderPage(#{i+1})') #{i+1}
												- }
											- }
										li
											if presult.next
												a(href='javascript:void(0)', onclick='getOrderPage(#{presult.next})') »
											else
												a(href='javascript:void(0)' onclick='layer.msg("这已经是最后一页了！");') »
						table.table#ordertable
							thead
								tr
									th 订单号
									th 收件地址
									th 联系手机
									th 总价
									th 状态
									th
							tbody#ordertbody
								if presult.results && presult.results.length > 0
									each one in presult.results
										tr
											td #{one._id}
											td #{one.address}
											td #{one.phone}
											td #{one.totalprice}
											td
												if one.finish
													p(style='color:green') 已完成
												else
													p(style='color:red') 未完成
											td
												a.btn(href='javascript:void(0)', onclick='checkDetail(this)', data-id='#{one._id}', data-price='#{one.totalprice}', data-finish='#{one.finish}') 查看

block js
	script(type='text/javascript', src='/js/personalindex.js')
