header
	#header
		.header-container.container
			.row
				.logo
					a(href='/', title='主页')
						div
							img(src='/images/logo2.png', alt='')
				.fl-nav-menu
					nav
						.mm-toggle-wrap
							.mm-toggle
								i.icon-align-justify
								span.mm-label 菜单
						.nav-inner
							// BEGIN NAV
							ul#nav.hidden-xs
								if first_categories
									each one in first_categories
										li.level0.parent.drop-menu
											a.level-top(href='/product-list/'+'#{one.id}')
												span #{one.name}
											ul.level1
												if one.sec_categories
													each oneSec in one.sec_categories
														li.level2.nav-6-1-1
															a(href= '/product-list/'+'#{oneSec.id}')
																span #{oneSec.name}
				// row
			.fl-header-right
				.fl-links
					.no-js
						a.clicker(title='我我我')
						.fl-nav-links
							ul.links
								li
									a(href='/personal_index', title='个人主页') 个人主页
									if user
										li.last
											a(href='/signout', title='退出登录')
												span 退出登录
									else
										li
											a(href='/signin', title='登录')
												span 登录
										li.last
											a(href='/signup', title='注册')
												span 注册
				.fl-cart-contain
					.mini-cart
						.basket
							a(href='/shopping-cart')
						.fl-mini-cart-content
							.block-subtitle
								.top-subtotal
									span.price #{shopping_cart_price}
								// top-subtotal
								// pull-right
							// block-subtitle
							ul#cart-sidebar.mini-products-list
							if !user
								ul#cart-sidebar.mini-products-list
									if commodities_in_cart
										each one in commodities_in_cart
											li.item(class = '.minicart-item-#{one.id}')
												.item-inner
													a.product-image(title='#{one.name}', href='/product-detail/'+'#{one.id}')
														img(alt='#{one.imgPath}')
													.product-details
														.access
															a.btn-remove1(title='删除', href='#') 删除
															a.btn-edit(title='编辑', href='#')
																i.icon-pencil
																span.hidden 编辑
														// access
														strong #{one.number}
														| x
														span.price #{one.price}
														p.product-name
															a(href='/product-detail/'+'#{one.id}') #{one.name}
									else
										li.item
											span 空荡荡的购物车O.O
								.actions
									button.view-cart(title='查看购物车', type='button', onclick='')
										a(href='/shopping-cart') 进入购物车
							else
								ul#cart-sidebar.mini-products-list
									li.item.first
										.item-inner
											a.product-image(title='登陆', href='/signin')
									span 请先
									a(href='/signin') 登陆
							// actions
						// fl-mini-cart-content
				// mini-cart
				.collapse.navbar-collapse
					form.navbar-form(role='search',action='/search',method='get')
						.input-group
							input#desktopSearchInput.GlobalNavSearch.js-globalSearchInput(placeholder='搜索', data-reactid='.1.0.0.0')
							label.GlobalNavSearch-searchIcon(for='desktopSearchInput', data-reactid='.1.0.0.1')
				// links